<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Support</title>
</head>
<body>

    <a href="user">Я пользователь</a>
    <p></p>
    <a href="support">Я саппорт</a>

<!-- просто мои наработки. ничего интересного

    <label for="user_type">Выберите тип пользователя </label>
        <select id="user_type">
            <option value="">--Кто вы?--</option>
            <option value="is_user">Я пользователь</option>
            <option value="is_supp">Я саппорт</option>
        </select>

    <form method="POST" action="create/">
        {% csrf_token %}
        <p>
            <label>Введите ваше имя</label><br>
            <input type="text" name="name" />
        </p>
        <input type="submit" value="Отправить" >
    </form>
    -->
</body>
</html>