{%extends 'is_user.html'%}

{% block title %}
For Support
{% endblock %}

    {% block form %}
    <form method="POST" action="create_support/">
        {% csrf_token %}
        <p>
            <label>Введите ваше имя</label><br>
            <input type="text" name="name" />
        </p>
        <p>
            <label>Какому пользователю вы отвечаете?</label><br>
            <input type="text" name="user_name" />
        </p>
        <p>
            <label>Введите ваше сообщение</label><br>
            <input type="text" name="message" />
        </p>
        <p>
            <label>Проблему можно считать решённой?</label><br>
            <input type="checkbox" name="user.is_done" />
        </p>
        <p>
            <label>Заморозить сообщение</label><br>
            <input type="checkbox" name="user.is_frozen" />
        </p>
        <input type="submit" value="Отправить" >
    </form>
    {% endblock %}
