<!doctype html>
<html lang=ru>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}For User{% endblock %} </title>
</head>
<body>


    {% for user in users %}
    <table border="1">
        <tr>
            <th>{{ user.name }}</th>
            <th>{{ user.message }}</th>
            <th>{{ user.is_done }}</th>
            <th>{{ user.is_frozen }}</th>
        </tr>
    </table>
    {% endfor %}

    {% for support in supports %}
    <table border="1">
        <tr>
            <th>{{ support.name }}</th>
            <th>{{ support.message }}</th>
        </tr>
    </table>
    {% endfor %}

{% block form %}
    <form method="POST" action="create_user/">
        {% csrf_token %}
        <p>
            <label>Введите ваше имя</label><br>
            <input type="text" name="name" />
        </p>
        <p>
            <label>Введите ваше сообщение</label><br>
            <input type="text" name="message" />
        </p>
        <input type="submit" value="Отправить" >
    </form>
{% endblock %}
</body>
</html>